<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title th:text="'SnowBoard - ' + ${title}">SnowBoard - {title}</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<!-- 헤더 영역 -->
<header>
  <!-- 글 목록 보기,수정,삭제 버튼 -->
  <div class="boardList-button-container"><a href="/board">목록</a></div>
  <div class="boardList-button-container"><a th:href="@{'/board/edit/'+${postId}}">수정</a></div>
  <div class="boardList-button-container"><a th:href="@{'/board/delete/'+${postId}}">삭제</a></div>
</header>
<h1 th:text="${title}"></h1>
<!-- 게시글 title, 작성자, 생성일자 -->
<div style="display: flex; justify-content: space-between; align-items: center; width: 50%;">
  <div style="display: flex; justify-content: flex-end; align-items: center;">
    <p th:text="'작성자: ' + ${nickName} + '  |  ' + ${createdAt}" style="text-align: right;"></p>
  </div>
</div>
<div id="contentDiv">
  <!-- 게시글 내용 로드 -->
</div>
<div id="commentDiv">
  <!-- 댓글 Div -->
  <form method="post" id="commentForm" action="/api/posts/${postId}/comments">
    <label for="comment">댓글:</label>
    <input type="text" id="comment" name="content" required>
    <button type="submit">댓글 추가</button>
  </form>
  <div id="comments-container">
    <!-- 댓글 목록 로드 -->
  </div>
</div>

<!-- 대댓글 템플릿 -->
<script id="reply-template" type="text/template">
  <div id="replies-container-{{commentId}}" style="margin-left: 40px;">
    <!-- 대댓글 로드 -->
  </div>
</script>

<script type="text/javascript">
  // 게시글 아이디 값 얻기
  var postId = window.location.pathname.split('/')[2];

  // AJAX 게시물 내용 load
  function loadPostContent(postId) {
    $.ajax({
      url: "/api/posts/" + postId,
      type: "GET",
      dataType: "json",
      success: function(response) {
        var content = response.content;
        $("#contentDiv").html("<p>" + content + "</p>");
      },
      error: function(xhr, status, error) {
        console.log("에러: " + error);
      }
    });
  }

  // 게시물 내용 로드 함수 호출
  loadPostContent(postId);

  // 댓글 가져오기 함수
  function getCommentsByPostId(postId) {
    $.ajax({
      url: `/api/posts/${postId}/comments`,
      type: 'GET',
      dataType: 'json',
      success: function (comments) {
        const commentsContainer = $('#comments-container');
        commentsContainer.empty();

        if (comments && comments.length > 0) {
          comments.forEach(comment => {
            // 답글 개수 가져오기
            getReplyCountByCommentId(comment.id).then(replyCount => {
              const commentContent = comment.content.split(':')[1];
              const commentTime = comment.createdAt || '작성 시간 정보 없음';
              const commentElement = $(`<div>
                                              <p>댓글 ID: ${comment.id}</p>
                                              <p>사용자 ID: ${comment.userId}</p>
                                              <p>내용: ${comment.content}</p>
                                              <p>작성 시간: ${comment.createdAt}</p>
                                              <button class="btn-more-replies" data-comment-id="${comment.id}" data-loaded="false">답글 ${replyCount}개 보기</button>
                                              <button class="btn-delete-comment" data-comment-id="${comment.id}">삭제</button>
                                              <form method="post" class="replyForm" action="/api/comments/${comment.id}/replies">
                                                <input type="text" class="replyInput" name="content" required>
                                                <button type="submit">답글 추가</button>
                                              </form>
                                              <div id="replies-container-${comment.id}" style="margin-left: 20px;">
                                                <!-- 대댓글이 여기에 표시될 것입니다. -->
                                              </div>
                                              <hr> <!-- 댓글 사이에 수평선 추가 -->
                                            </div>
                                        `);

              commentsContainer.append(commentElement);
            });
          });
        } else {
          commentsContainer.text('댓글이 없습니다.');
        }
      },
      error: function (error) {
        console.error('댓글을 가져오는 중 오류가 발생했습니다:', error);
      }
    });
  }

  // 댓글 가져오기 함수 호출
  getCommentsByPostId(postId);

  // 대댓글 개수 가져오기 함수
  function getReplyCountByCommentId(commentId) {
    return new Promise((resolve, reject) => {
      $.ajax({
        url: `/api/comments/${commentId}/replies`,
        type: 'GET',
        dataType: 'json',
        success: function (replies) {
          const replyCount = replies.length;
          resolve(replyCount);
        },
        error: function (error) {
          reject(error);
        }
      });
    });
  }

  // 대댓글 가져오기 함수
  function getRepliesByCommentId(commentId) {
    $.ajax({
      url: `/api/comments/${commentId}/replies`,
      type: 'GET',
      dataType: 'json',
      success: function (replies) {
        const repliesContainer = $(`#replies-container-${commentId}`);
        repliesContainer.empty();

        if (replies && replies.length > 0) {
          replies.forEach((reply, index) => {

            const replyElement = $(`<div>
                                      <p>답글 ID: ${reply.id}</p>
                                      <p>사용자 ID: ${reply.userId}</p>
                                      <p>내용: ${reply.content}</p>
                                      <p>작성 시간: ${reply.createdAt}</p>
                                      <button class="btn-delete-reply" data-reply-id="${reply.id}" data-comment-id="${commentId}">삭제</button>
                                    </div>`);
            if (index < replies.length - 1) {
              replyElement.append('<hr>');
            }
            repliesContainer.append(replyElement);
          });
        } else {
          repliesContainer.text('답글이 없습니다.');
        }
      },
      error: function (error) {
        console.error('대댓글을 가져오는 중 오류가 발생했습니다:', error);
      }
    });
  }

  // '답글 보기' 버튼 클릭 이벤트
  $(document).on('click', '.btn-more-replies', function() {
    const commentId = $(this).data('comment-id');
    const isLoaded = $(this).data('loaded');
    const repliesContainer = $(`#replies-container-${commentId}`);

    if (isLoaded) {
      repliesContainer.slideToggle();
    } else {
      getRepliesByCommentId(commentId);
      $(this).data('loaded', true);
    }
  });

  // 댓글 추가 이벤트
  $('#commentForm').on('submit', function(e) {
    e.preventDefault();
    const commentContent = $('#comment').val();

    var formData = {
      content: commentContent,
      // user_id: userId // 이곳에 실제 로그인한 사용자의 ID를 설정합니다.
    };

    $.ajax({
      url: `/api/posts/${postId}/comments`,
      type: 'POST',
      contentType: 'application/json',
      dataType: 'json',
      data: JSON.stringify(formData),
      success: function(comment) {
        var commentContent = comment.content;
        // 댓글 추가 후 댓글 목록 재로드
        getCommentsByPostId(postId);
      },
      error: function (error) {
        console.error('댓글을 추가하는 중 오류가 발생했습니다:', error);
      }
    });
  });

  // 대댓글 추가 이벤트
  $(document).on('submit', '.replyForm', function(e) {
    e.preventDefault();
    const commentId = $(this).prev().data('comment-id');
    const replyContent = $(this).find('.replyInput').val();

    var formData = {
      content: replyContent,
      // user_id: userId // 이곳에 실제 로그인한 사용자의 ID를 설정합니다.
    };

    $.ajax({
      url: `/api/comments/${commentId}/replies`,
      type: 'POST',
      contentType: 'application/json',
      dataType: 'json',
      data: JSON.stringify(formData),
      success: function(reply) {
        var replyContent = reply.content;
        // 대댓글 추가 후 대댓글 목록 재로드
        getRepliesByCommentId(commentId);
      },
      error: function (error) {
        console.error('대댓글을 추가하는 중 오류가 발생했습니다:', error);
      }
    });
  });

  // 댓글 삭제 이벤트
  $(document).on('click', '.btn-delete-comment', function() {
    const commentId = $(this).data('comment-id');

    $.ajax({
      url: `/api/comments/${commentId}`,
      type: 'DELETE',
      success: function() {
        // 댓글 삭제 후 댓글 목록 재로드
        getCommentsByPostId(postId);
      },
      error: function (error) {
        console.error('댓글을 삭제하는 중 오류가 발생했습니다:', error);
      }
    });
  });

  // 대댓글 삭제 이벤트
  $(document).on('click', '.btn-delete-reply', function() {
    const replyId = $(this).data('reply-id');
    const commentId = $(this).data('comment-id'); // commentId 값을 얻음

    $.ajax({
      url: `/api/replies/${replyId}`,
      type: 'DELETE',
      success: function() {
        getRepliesByCommentId(commentId); // commentId 값을 사용하여 댓글 목록 재로드
      },
      error: function (error) {
        console.error('대댓글을 삭제하는 중 오류가 발생했습니다:', error);
      }
    });
  });

</script>

</body>
</html>
