<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script src="/js/tokenManager.js"></script>
</head>
<body>
<h2>Login</h2>
<form id="loginForm">
    <input type="text" id="userAccount" name="userAccount" placeholder="userAccount" required><br>
    <input type="password" id="password" name="password" placeholder="Password" required><br>
    <button type="submit">Login</button>
</form>
<button id="refreshToken">Refresh_token</button>


<script>
    document.getElementById('refreshToken').addEventListener('click', function (event) {
        event.preventDefault();
        fetch('/api/auth/refresh-token', {
            method: 'POST'
        })
            .then(handleLoginResponse);
    });

    document.getElementById('loginForm').addEventListener('submit', function(event) {
        event.preventDefault();

        var form = event.target;
        var data = {
            userAccount: form.elements['userAccount'].value,
            password: form.elements['password'].value
        };

        fetch('/api/auth/authenticate', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
            .then(handleLoginResponse)
            .then(responseData => {
                if (responseData.access_token) {
                    const accessToken = responseData.access_token;
                    if (isValidAccessToken(accessToken)) {
                        localStorage.setItem('access_token', responseData.access_token);
                        window.location.href = "/board";
                    }

                } else {
                    alert("로그인 실패. 생성된 토큰이 없어용");
                }

            })
            .catch(error => {
                console.error('Error:', error);
            });
    });

    function handleLoginResponse(response) {
        if (response.ok) {
            // If the response status code is 2xx (success), continue with the login process
            return response.json();
        } else {
            // If the response status code is not 2xx (error), handle the error
            response.json().then(exceptionDto => {
                // Extract the message from the ExceptionDto and display it in the alert
                alert(exceptionDto.message);
            });
            throw new Error("Login failed.");
        }
    }
</script>
</body>
</html>
