<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>Register User</title>
  <script src="/js/tokenManager.js"></script>
  <script src="/js/login.js"></script>
</head>
<body>
<h2>Register User</h2>
<form id="registerForm">
  <label for="userAccount">User Account:</label>
  <input type="text" id="userAccount" name="userAccount" required><br>

  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required><br>

  <label for="email">Email:</label>
  <input type="email" id="email" name="email" required>
  <button type="button" id="emailCheckButton">Check Email</button><br>

  <label for="nickName">Nickname:</label>
  <input type="text" id="nickName" name="nickName" required>
  <button type="button" id="nickNameCheckButton">Check Nickname</button><br>

  <label for="userName">User Name:</label>
  <input type="text" id="userName" name="userName" required><br>

  <button type="submit" id="registerButton" disabled>Register</button>
</form>
<script>
  let isEmailValid = false;
  let isNickNameValid = false;

  document.getElementById('registerForm').addEventListener('submit', function(event) {
    event.preventDefault();

    const form = event.target;
    const data = {
      userAccount: form.elements['userAccount'].value,
      password: form.elements['password'].value,
      email: form.elements['email'].value,
      nickName: form.elements['nickName'].value,
      userName: form.elements['userName'].value
    };
    

    fetch('/api/auth/register', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(data)
    })
            .then(handleRegisterResponse)
            .then(responseData => {
              if (responseData.access_token) {
                const accessToken = responseData.access_token;
                if (isValidAccessToken(accessToken)) {
                  localStorage.setItem('access_token', responseData.access_token);
                  window.location.href = "/board";
                }

              } else {
                alert("가입 실패. 생성된 토큰이 없어용");
              }

            })
            .catch(error => {
              console.error('Error:', error);
            });
  });

  // Add event listeners for email and nickname duplicate check buttons
  // todo check validate before send to sever
  document.getElementById('emailCheckButton').addEventListener('click', function() {
    const email = document.getElementById('email').value;
    checkDuplicateEmail(email);
  });

  document.getElementById('nickNameCheckButton').addEventListener('click', function() {
    const nickName = document.getElementById('nickName').value;
    checkDuplicateNickname(nickName);
  });

  function checkDuplicateEmail(email) {
    fetch('/api/user/check-email', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ email: email })
    })
            .then(handleDuplicatedCheck)
            .then(responseData => {
              isEmailValid = true
              enableRegisterButtonIfValid();
            })
            .catch(error => {
              console.error('Error:', error);
            });
  }

  function checkDuplicateNickname(nickname) {
    fetch('/api/user/check-nickName', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ nickName: nickname })
    })
            .then(handleDuplicatedCheck)
            .then(responseData => {
              isNickNameValid = true
              enableRegisterButtonIfValid();
            })
            .catch(error => {
              console.error('Error:', error);
            });
  }

  function enableRegisterButtonIfValid() {
    const email = document.getElementById('email').value;
    const nickName = document.getElementById('nickName').value;
    if (isValidEmail(email) && isEmailValid && isValidNickname(nickName) && isNickNameValid) {
      document.getElementById('registerButton').removeAttribute('disabled');
    }
  }

  function isValidEmail(email) {
    const emailRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
    return emailRegex.test(email) && email.length >= 1 && email.length <= 30;
  }

  function isValidNickname(nickname) {
    const nicknameRegex = /^[a-zA-Z0-9가-힣\s]+$/;
    return nicknameRegex.test(nickname) && nickname.length >= 1 && nickname.length <= 10;
  }

  function handleDuplicatedCheck(response) {
    if (response.ok) {
      // If the response status code is 2xx (success), continue with the registration process
      enableRegisterButtonIfValid()
    } else {
      response.json().then(exceptionDto => {
        // Extract the message from the ExceptionDto and display it in the alert
        alert(exceptionDto.message);
      });
      throw new Error("duplicate check failed.");
    }
  }

  function handleRegisterResponse(response) {
    if (response.ok) {
      // If the response status code is 2xx (success), continue with the registration process
      return response.json();
    } else {
      response.json().then(exceptionDto => {
        // Extract the message from the ExceptionDto and display it in the alert
        alert(exceptionDto.message);
      });
      throw new Error("Registration failed.");
    }
  }

</script>
</body>
</html>
